*{
  margin: 15px;
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
 
}


h2 {
  font-size: 25px;
  color: red;
}

button {

    border: solid;
    border-radius: 50px;
    cursor: pointer;

}
